body {
  background-color: #001f3f;
  color: #0074d9;
  font-size: 16px;
}

.author {
  font-size: 12px; 
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 18px;
  line-height: 21.6px; 
}

p {
  line-height: 19.2px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
    text-decoration: none;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
